# Configuracao da Fachada Cagepa
# Diretorio de imagens para processamento
image.directory=/home/apolo/Documents/diretorio_compartilhado_shas

# Caminho do diretorio Tesseract (ex: /usr/share/tesseract-ocr/5/tessdata ou C:\Program Files\Tesseract-OCR\tessdata)
tesseract.path=/usr/share/tesseract-ocr/5/tessdata

